.modal-dialog {
    bottom: 0;
    position: fixed;    
    margin-bottom: 0;
    padding-top:0;
    width: 280px;
    right:10px;
}

.modal-header {
    background: #222222;
    color: #fff;
    padding: 10px 15px;
}

.modal-body {
    padding:0;
}

.modal-title {
    font-size: 16px;
}

.modal-dialog .form-group {
    margin-bottom: 0;
}

.modal-dialog .form-control {
    border-left: 0;
    border-right: 0;
    border-top:0;
    border-radius: 0;
}

.modal-dialog textarea {
    border-bottom:none;
    padding:15px 10px !important;
}

.modal-header .close {
    color:#fff;
}

.modal {
    position: relative;
}

.modal .modal-footer {
    justify-content: flex-start;
    display: flex;
    background-color: #f5f5f5;
    padding: 10px .75rem;
}


.modal-body .form-control {
    font-size: 14px;
}

@media only screen and (min-width:767px) {
    .modal-dialog {
        min-width: 500px;
        right:20px;
    }
  
}